<div class="container">

	<div class="login-box">

		<div class="login-box-logo">
			<img src="img/logo_transparent_200x75.png">
		</div>

    <div class="login-inner-box">
			<div class="login-tab-header">
				<button class="btn-login-tab" ng-click="loginMode = true;" ng-class="{active: loginMode}">
					Log in
				</button>
			</div>

			<div class="login-oauth text-center">
				<a class="btn btn-google" href="login/google" target="_self" ng-if="googleAuthEnabled">
					<i class="fa fa-google"></i>
					with Google
				</a>
        <a class="btn btn-github" href="login/github" target="_self" ng-if="githubAuthEnabled">
          <i class="fa fa-github"></i>
          with Github
        </a>
        <a class="btn btn-github" href="login/lottos" target="_self" ng-if="lottosAuthEnabled">
          <i class="fa fa-github"></i>
          with Lottos
        </a>
			</div>
		</div>

	</div>

</div>
